.header {
    height: var(--header-height);
    background-image: linear-gradient(0,#fc7549,#f53d2d);
}
.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26;
}


.header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-user-img {
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    border: 1px solid rgba(0,0,0,0.2);
}

.header__navbar-user-name{
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: 100%;
    right: 0;
    width: 160px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    box-shadow:0 1px 2px rgb(211, 208, 208);
    display: none;
}

.header__navbar-user-menu:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-menu:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}


.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -28px;
}

.header__navbar-user-item {
    background-color: #fafafa;
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 6px 0 0 10px; 
    display: block;
    font-weight: 400;
}
.header__navbar-user-item a:hover {
    background-color: #f6f3f3;
}


.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item--has--notify:hover .header__notify {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}
.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086;
    height: 14px;
    top: 50%;
    right: -9px;
    transform: translateY(-50%)
}
.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}


.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}


.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 6px;
}

.header__navbar-item--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header qr code */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr::before {
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -16px;
    content:"";
    display: block;
}

.header__qr-img {
    width: 100%;

}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 15px;
}

/* Header notify */
.header__notify {
    position: absolute;
    top: 118%;
    width: 404px;
    background-color: var(--white-color);
    right: 0;
    transform-origin: 90% top;
    animation: headerNotifyGrowth ease-in 0.25s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
    border-radius: 2px;
}

.header__notify::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -30px;
}
.header__notify::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 20px;
    right: 0;
    top: -10px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    cursor: default;
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    cursor: text;
}

.header__notify-list {
    padding-left: 0;

}

.header__notify-item {
    display: flex;
}
.header__notify-item:hover {
    background-color: #f6f6f6;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;

}

.header__notify-name {
    display: block;   
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-description {
    display: block;   
    font-size: 1.2rem;
    color: #756f6e;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 32px;
    margin: auto;  
    font-size: 1.6rem;
    font-weight: 1.4rem;
}


/* Authen modal */

.auth-form {
    width: 500px;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.7rem;
    font-weight: 600px;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 12px;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 30px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
 
}

.auth-form__controls {
    margin-top: 80px;   
}   

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
    margin-right: 40px;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
}



.auth-form__socials--fb {
    color: var(--white-color);
    background-color: #3a5a98;
}

.auth-form__socials-icon {
    font-size: 15px;
}

.auth-form__socials--fb
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-title {
        margin: 0 36px;
        font-size: 12px;
}

.auth-form__socials--gg {
    background-color: var(--white-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;  
    margin: 0 30px;
}

.auth-from__help--link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help--separate {
    display: block;
    height: 24px;
    border-left: 1px solid var(--border-color);
    margin: 4px 10px 0;   
}

.auth-from__help--forgot {
    color: var(--primary-color);
}


.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    flex:1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.6rem;
    margin-top: 9px;
}
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0 16px;
    color: var(--text-color);
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid #cccccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}
.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #666363;
    margin: 0 12px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    width: 60px;
    height: 36px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
}
.header__search-btn:hover {
    background-color: #f29481;
    cursor: pointer;
}

.header__search-btn-icon{
    font-size: 1.8rem;
    color: var(--white-color);
}   

.header__search-option{ 
    position: absolute;
    right: 0em;
    top: calc(100%-1px);
    width: 130px;
    list-style: none;
    box-shadow: 0 0 3px #ccc;
    padding-left: 0;
    border-radius: 3px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.header__search-option::after{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    top: -10px;
    left: 0;
}

.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;

}
.header__search-option-item:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.header__search-option-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.header__search-option-item:hover {
    background-color: #e7e3e3;
    cursor: pointer;
}
.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-option-item i {
    font-size: 1.2rem;
    color:var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history{
    display: block;
}

/* search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgb(192, 191, 191); 
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search--history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 300px;
}

.header__search--history-list{
    padding-left: 0;
    list-style: none;
    margin: 0;
}
.header__search-history-list-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-list-item:hover {
    background-color: #f5f3f3;
}
.header__search-history-list-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
}

/* Header sort bar */

.header__sort-bar {
    position: fixed;
    top: calc(--header-height);
    left: 0;
    right: 0;
    height: 46px;
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}


.header__sort-item {
    flex: 1;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}

.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
}

.header__sort-item:first-child .header__sort-link::before {
    border: none;
}



/* cart layout */
.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    display: inline-block;
    position: relative;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 2px);
    right: -30px;
    background-color: var(--white-color);
    width: 410px;
    border-radius: 2px;
    box-shadow: 0 2px 10px 2px #ccc;   
    margin-right: 30px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}

.header__cart-no-cart-img{
    padding: 28px 0;
    width: 60%;
    display: none;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-notice{
    right: -4px;
    position: absolute;
    padding: 1px 6px;
    font-size: 1.4rem;
    line-height:1.2rem;
    border-radius: 8px;
    border: 2px solid #ee4d2d;
    color: var(--primary-color);
    background-color: var(--white-color);
}

.header__cart-list-no-cart-msg{
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color); 
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    max-height: 40vh;
    overflow-y: auto;
}

.header__cart-item{
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f5f5f5;
}

.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--border-color);
}
.header__cart-item-info{
    width: 100%;
}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;
}
.header__cart-item-name{
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}
.header__cart-item-price{
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 400;
}
.header__cart-item-multiply{
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;

}
.header__cart-item-quantity{
    font-size: 1.2rem;
    color: #757575;
}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;    
}
.header__cart-item-discription{
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300px;
}
.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.4rem;
    margin-right: 12px;
}

.header__cart-item-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-list:after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 4px;
    top: -30px;
    border-width: 20px;
    border-style: solid; 
    border-color: transparent transparent var(--white-color) transparent;   
}

.header__cart-wrap:hover
.header__cart-list {
    display: block;
} 

.header__cart-viewcart{
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-viewcart:hover {
    background-color: #f0541f;
}

/* app_container */

.app__container{
    background-color: rgb(243, 240, 240);
}

.app__content {
    padding-top: 36px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;

}

.category_heading {
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 8px 8px;  
    margin-top: 0;
    border-bottom: 1px solid rgba(0,0,0,0.06);
}

.category_heading-icon {    
    position: relative;
    top: -1px;
    margin-right: 4px;
    font-size: 1.4rem;
}

.category-list {
    padding: 0 0 6px 0;
    list-style: none;
    margin-left: 9px;
}

.category-item {
    position: relative;
}
 
.category-item::before {
    content: "";
    position: absolute;
    border-top: 1px solid #ccc7c7;
    top: 0;
    left: 16px;
    right: 16px;
}

.category-item:first-child::before {
    display: none;
}

.category-item--active a  {
    color: var(--primary-color);
}

.category-item--active a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 4px;
    border: 4px solid;
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
    position: relative;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 4px 20px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* Home sort + filter*/

.home-filter {
    padding: 12px 22px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.04);
}

.home-filter-label {
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}

.home-filter_btn {
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    background-color: var(--white-color);
    display: flex;
    flex: 1;
    text-decoration: none;
    font-size: 1.4rem;
    color:#555;
}   

.home-filter__page-btn--disabled {
    cursor: default;
    background-color: #f9f9f9;

}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
}

/* product item */

.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: var(--white-color);
    text-decoration: none;
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    top: -1px;
    transform: translateY(-1px);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__like {
    font-size: 1.4rem;
}

i.home-product-item__like-icon-fill {
    display: none;
    color: #f63d30;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 0.8rem;
    color: #d5d5d5 ;
    margin-left: auto; 
}

.home-product-item__star--gold {
    color: #ffce3e;
}

.home-product-item__sold {
    font-size: 1.3rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    color: #595959;
    margin: 2px 10px 0;
    font-size: 1.2rem;
    font-weight: 200;
}


.home-product-item__favorate {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;   
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius:4px ;
    border-bottom-right-radius: 3px;
}

.home-product-item__favorate span {
    color: var(--white-color);
}

.home-product-item__favorate::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favorate i {
    color: var(--white-color); 
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}



.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.95);
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.95) transparent rgba(255, 216, 64, 0.95) ;
}

.home-product-item__sale-off-percent {
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2;
    position: relative;
    top: -1px;
}

.home-product-item__sale-off-label {
    position: relative;
    top: -10px;
    color: var(--white-color);
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3;
}


.home-product--pagination {
    margin: 48px 0 32px 0;
}


/* footer */

.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
    padding-bottom: 60px;
    background-color: var(--white-color);
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: block;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}

.footer__download-apps-img {
    height: 16px;
}

.grid_row_footer__menu {
    background-color: rgb(250, 249, 249);
}

.footer__menu {
    display: flex;
    justify-content: center;   
    list-style: none;
    margin: 35px 0 44px 0;
    position: relative;
}

.footer__menu_label {
    font-size: 1.2rem;
    font-weight: 200;  
    padding: 0 25px;
}

.footer__menu_label--border {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.footer__text {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 300;
    align-items: center;
}
